includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    excludes_analyse:
        # heavily dependent on the version of Symfony
        - src/DependencyInjection/Configuration
    ignoreErrors:
        # error in PHPStan because Phar::decompress() return Phar #37
        - '#Call to an undefined method object::extractTo\(\)#'
