# config for Symfony 2.8-4.1

includes:
    - default.neon

parameters:
    ignoreErrors:
        - '#Class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder does not have a constructor and must be instantiated without any parameters.#'