name: Test

on:
  push:
  pull_request:

jobs:
  test:
    name: 'PHP ${{ matrix.php-version }} + ${{ matrix.dependencies }} + ${{ matrix.variant }}'
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        dependencies:
          - lowest
          - highest
        php-version:
          - '7.1'
          - '7.2'
          - '7.3'
          - '7.4'
        experimental: [false]
        variant: [normal]
        include:
#          - php-version: '7.1'
#            dependencies: highest
#            allowed-to-fail: false
#            variant: 'symfony/symfony:"2.8.*"'
#          - php-version: '7.1'
#            dependencies: highest
#            allowed-to-fail: false
#            variant: 'symfony/symfony:"3.0.*"'
          - php-version: '8.0'
            dependencies: highest
            variant: normal
            experimental: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: Install variant
        if: matrix.variant != 'normal'
        run: composer require ${{ matrix.variant }} --no-update

      - name: 'Install Composer dependencies (${{ matrix.dependencies }})'
        uses: 'ramsey/composer-install@v1'
        with:
          dependency-versions: '${{ matrix.dependencies }}'
          composer-options: '--prefer-dist --prefer-stable'

      - name: Run Tests
        run: vendor/bin/phpunit --coverage-clover build/coverage-clover.xml

      - name: Send coverage results to Scrutinizer CI
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover build/coverage-clover.xml

      - name: Send coverage results to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PARALLEL: true
          COVERALLS_FLAG_NAME: 'PHP ${{ matrix.php-version }} + ${{ matrix.dependencies }} + ${{ matrix.variant }}'
        run: |
          composer global require php-coveralls/php-coveralls
          php-coveralls -x build/coverage-clover.xml -o build/coveralls-upload.json -v
